<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="cors" value="*" />
        <!-- if this is true, and a HTTPS endpoint is bound, all HTTP calls will be upgraded to HTTPS -->
        <add key="UpgradeHttp" value="false" />
        <!-- Override the hosting directory. If this is not given or not accessible, a default will be picked -->
        <add key="HostedSitesRootDirectory" value="C:\Temp\WrappedSites" />

        <!-- Path to the security settings file -->
        <add key="SecurityConfigFile" value="C:\Experiments\WrapperTest\security.json" />

        <!-- Translation address for callbacks. This should be the primary external URL of your site -->
        <add key="PrimaryCallbackAddress" value="http://localhost:99" />
    </appSettings>
    <system.webServer>
        <security>
            <requestFiltering>
                <!-- This will handle requests up to 50MB -->
                <requestLimits maxAllowedContentLength="52428800" />
            </requestFiltering>
        </security>
        <handlers accessPolicy="Read, Execute, Script" >
            <add verb="*" path="*" name="HandlerFactory" type="WrapperRoleListener.HandlerFactory"/>
            <add verb="*" path="*" name="IisEntryPointHandler" type="WrapperRoleListener.IisEntryPointHandler"/>
        </handlers>
        <!-- <modules runAllManagedModulesForAllRequests="true">
            Remove standard modules we don't need. If any of these cause an issue, delete the offending line 
            <remove name="OutputCache" />
            <remove name="Session" />
            <remove name="WindowsAuthentication" />
            <remove name="FormsAuthentication" />
            <remove name="DefaultAuthentication" />
            <remove name="RoleManager" />
            <remove name="UrlAuthorization" />
            <remove name="FileAuthorization" />
            <remove name="AnonymousIdentification" />
            <remove name="Profile" />
            <remove name="UrlMappingsModule" />
            <remove name="UrlRoutingModule-4.0" />
            <remove name="ScriptModule-4.0" />
            <remove name="ServiceModel-4.0" />
            <remove name="WebDAVModule" />

            <!- - The wrapper module - ->
            <add name="IisEntryPoint" type="WrapperRoleListener.IisEntryPoint" />
        </modules>-->
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.28.1.741" newVersion="2.28.1.741" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>