<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="cors" value="*" />
        <!-- if this is true, and a HTTPS endpoint is bound, all HTTP calls will be upgraded to HTTPS -->
        <add key="UpgradeHttp" value="false" />

        <!-- Override the hosting directory. If this is not given or not accessible, a default will be picked -->
        <add key="HostedSitesRootDirectory" value="C:\Temp\WrappedSites" />

        <!-- Path to the security settings file. If this file is missing, the wrapper will look for `security.json` in the bin directory -->
        <add key="SecurityConfigFile" value="C:\Experiments\WrapperTest\security.json" />

        <!-- Translation address for callbacks. This should be the primary external URL of your site -->
        <add key="PrimaryCallbackAddress" value="http://localhost:99" />
    </appSettings>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="OPTIONSVerbHandler" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
            <remove name="StaticFile" />
            <remove name="TRACEVerbHandler" />
            <add name="WrapperShim" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Gits\WebJony\WrapperRoleListener\bin\RawIsapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />
        </handlers>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.19.5.13701" newVersion="3.19.5.13701" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>